body {
  font-family: "TAN-MIGNON";
  background-color: #193F3A;
}


.coming-soon-container {
  height: 100vh;

  p {
    color: #F8F4E3;
    font-size: 88px;
    text-align: center;
    vertical-align: middle
  }
}
