body {
  font-family: "TAN-MIGNON";
  background-color: #193F3A;

}

a {
  color: #3F766F;
}

.coming-soon-container {
  height: 100vh;

  p {
    color: #F8F4E3;
    font-size: 88px;
    text-align: center;
    vertical-align: middle
  }
}

canvas {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  position: absolute;
  z-index: 1;
}
