// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');

// Define fonts for body and headers
$body-font: "TAN-MIGNON", "Work Sans", "Helvetica", "sans-serif";
$headers-font: "TAN-MIGNON", "Nunito", "Helvetica", "sans-serif";

// To use a font file (.woff) uncomment following lines
@font-face {
  font-family: "TAN-MIGNON";
  src: font-url('tan_mignon/TAN-MIGNON.eot');
  src: font-url('tan_mignon/TAN-MIGNON.eot') format('embedded-opentype'),
       font-url('tan_mignon/TAN-MIGNON.woff') format('woff'),
       font-url('tan_mignon/TAN-MIGNON.woff2') format('woff2'),
       font-url('tan_mignon/TAN-MIGNON.ttf') format('truetype')
}
$my-font: "TAN-MIGNON";
